<h3>Todo list</h3>
<form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
  <label for="task">Task</label>
  <input kendoTextBox type="text" id="task" name="task" [(ngModel)]="task">
  <button type="submit" class="btn btn-primary">Add</button>
  </form>
<ol>
	<li *ngFor="let todo of (todos$ | async)" (click)="updateTask(todo)">
		<span [attr.data-id]="todo.id" [ngStyle]="{ textDecoration: todo.done ? 'line-through' : 'none' }">{{ todo.name}}&nbsp;<button class="btn btn-alert" type="button" (click)="removeTask(todo.id)">X</button></span>
	</li>
</ol>
